@import "reset";
@import "base";
@import "utils";
@import "classes";
@import "animations";
@import "media-queries";

.cv-container {
  display: grid;
  grid:
    "aside header" 30rem
    "aside main" 1fr
    "footer footer" auto
    / 300px auto;
  @include xs {
    grid:
      "header" auto
      "main" auto
      "aside" auto
      "footer" auto
      / auto;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
  @include xs {
    padding: 5rem 3rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 2rem;
    @include xs {
      font-size: 6rem;
    }
  }
  p {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
  span {
    // element de type inline besoin de mettre un display de type inlineblock
    display: inline-block;

    animation: bounce 2s;
  }
}
// --------------ASIDE---------------------------
aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);

  @include xs {
    display: grid;
    padding-bottom: 2rem;
    grid:
      "picture bloc1" auto
      "bloc2 bloc3" auto
      "bloc5 bloc4" auto
      / auto auto;

    picture {
      grid-area: picture;
    }

    .bloc1 {
      grid-area: bloc1;
      margin-top: 2rem;
    }
    .bloc2 {
      grid-area: bloc2;
    }
    .bloc3 {
      grid-area: bloc3;
    }
    .bloc4 {
      grid-area: bloc4;
    }
    .bloc5 {
      grid-area: bloc5;
    }
  }

  .picture {
    padding: 2rem 0 5rem 2.5rem;
    @include xs {
      padding: 0rem 0rem 0rem 2rem;
    }
    img {
      border-radius: 50%;
    }
  }
  .bloc {
    padding: 0 0rem 0rem 2rem;

    h2 {
      margin: 1.7rem 0rem;
      font-size: 2rem;
      @include xs {
        margin: 1rem 0rem;
        font-size: 1.5rem;
      }
    }
    h3 {
      margin: 1rem 0rem;
      font-size: 1.6rem;
      @include xs {
        font-size: 1rem;
        margin: 0.7rem 0rem;
      }
    }
    p {
      margin: 0rem 0rem 0.2rem 0rem;
      font-size: 1.5rem;
      font-style: italic;
      @include xs {
        font-size: 0.9rem;
      }
    }


    //////
    .bar-skill {
      margin: 1rem;
      height: 5px;
      background: var(--hint);
      position: relative;

      .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        background: var(--light);
      }
      .bar-skill-html {
        width: 90%;
      }
      .bar-skill-scss {
        width: 80%;
      }
      .bar-skill-mysql {
        width: 50%;
      }
      .bar-skill-php {
        width: 50%;
      }
      .bar-skill-symfony {
        width: 50%;
      }
      .bar-skill-react {
        width: 40%;
      }
      .bar-skill-wp {
        width: 60%;
      }
      .bar-skill-js {
        width: 50%;
      }
      .bar-skill-ang {
        width: 1%;
      }
  
      .bar-skill-packof {
        width: 80%;
      }
      .bar-skill-photoshop {
        width: 80%;
      }
      .bar-skill-pv {
        width: 80%;
      }
      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        top: -2.5px;
        transform: rotate(45deg);
      }
      .bar-dot-html {
        left: calc(90% - 5px);
      }
      .bar-dot-scss {
        left: calc(60% - 5px);
      }
      .bar-dot-mysql {
        left: calc(50% - 5px);
      }
      .bar-dot-php {
        left: calc(50% - 5px);
      }
      .bar-dot-symfony {
        left: calc(50% - 5px);
      }
      .bar-dot-react {
        left: calc(40% - 5px);
      }
      .bar-dot-wp {
        left: calc(60% - 5px);
      }
      .bar-dot-js {
        left: calc(50% - 5px);
      }
      .bar-dot-ang {
        left: calc(1% - 5px);
      }
      .bar-dot-packof {
        left: calc(80% - 5px);
      }
      .bar-dot-photoshop {
        left: calc(80% - 5px);
      }
      .bar-dot-pv {
        left: calc(80% - 5px);
      }
    }


    ////
    .star-container {
      display: flex;
      margin: 1rem 0.5rem 1rem 0rem;
      color: var(--hint);

      i {
        font-size: 2rem;
        margin: 1rem 0.5rem;
      }
    }
    .social-container {
      transition: all 0.2s;
      margin: 1rem;
      padding: 0.5rem;
      border-radius: 30px;
      box-shadow: -7px -7px 17px rgba(70, 70, 70, 0.06),
        7px 7px 17px rgba(70, 70, 70, 0.12);
      transition: all 0.2s;
      cursor: pointer;
      a {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      &:hover {
        box-shadow: inset -7px -7px 17px rgba(255, 255, 255, 0.6),
          inset 7px 7px 17px rgba(70, 70, 70, 0.12);
        background: var(--border);
        i {
          color: var(--primary);
          transform: rotate(360deg);
          transform: scale(1.2);
          transition: all 0.5s;
        }
      }
      p {
        flex: auto;
      }
      i {
        font-size: 3rem;
        margin: 0 1rem 0 1rem;
        flex: 0 0 1rem;
      }

      .fa-linkedin {
        color: #0e76a8;
      }
      .fa-instagram {
        color: #ea3145;
      }
      .fa-facebook {
        color: #3e68c0;
      }
      .fa-whatsapp {
        color: #27ae60;
      }
    }
  }
}

// --------------Main---------------------------

main {
  grid-area: main;
  background: url(../img/bck.jpg) no-repeat;
  background-size: cover;
  padding: 0 1rem 0 2rem;

  .separator {
    height: 5px;
    min-width: 700px;
    background: linear-gradient(to right, var(--primary), var(--light));
    @include xs {
      min-width: 380px;
      width: 200px;
    }
  }

  .main-container {
    .main-bloc {
      h2 {
        margin: 1.7rem 0rem;
        font-size: 3rem;
        @include xs {
          font-size: 1.5rem;
          margin: 1rem 2rem 2rem 0rem !important;
        }
      }
      h3 {
        margin: 1rem 0rem;
        font-size: 2.5rem;
        @include xs {
          font-size: 1.5rem;
        }
      }
      p {
        margin: 0rem 3rem 1rem 0rem;
        font-size: 2rem;
        line-height: 3rem;
        @include xs {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      .main-bloc-list {
        display: flex;
        flex: auto;
        .main-bloc-list-one {
          margin: 0 4rem 0 2rem;

          ul {
            list-style: inside;
          }
          li {
            margin: 0rem 0rem 0.5rem 0rem;
            font-size: 2rem;
            line-height: 4rem;
            @include xs {
              font-size: 1rem;
              line-height: 1.5rem;
              margin: 0rem 0rem 0.5rem 0rem;
            }
          }
        }
      }
      .experience {
        display: flex;
        @include xs {
          margin-bottom: 1rem !important;
        }

        .timeline {
          min-width: 15rem;
          padding-right: 2rem;
          align-self: center;
          text-align: center;
          color: var(--hint);
          border-right: 1px solid var(--border);
          @include xs {
            min-width: 6rem;
            padding-right: 1rem;
          }
          p {
            margin: 0;
            @include xs {
              font-size: 1rem;
            }
          }
        }

        .content {
          padding: 0 1rem;
          @include xs {
            padding: 0 0.2rem;
          }
          h3 {
            margin: 0;
          }
          p {
            margin: 0;
            @include xs {
              margin: 0rem 0rem 0.5rem 0.5rem !important;
            }
          }
          ul {
            font-size: 2rem;
            margin: 2rem 0 5rem 0;
            list-style: circle;
            padding-left: 4rem;
            @include xs {
              font-size: 0.9rem;
              line-height: 1.5rem;
              margin: 1rem 0 1rem 0 !important;
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
}

// --------------Main---------------------------
footer {
  grid-area: footer;
  padding: 5rem;
  background: var(--text);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    align-items: center;
    h2 {
      margin-bottom: 3rem;
    }

    .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-radius: 1rem 0 0 1rem;
    }
    button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }

      .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-radius: 0 1rem 1rem 0;
      }
    }

    input {
      outline: 0;
      border: 0;
      min-width: 40rem;
      padding: 1rem 2rem;
      line-height: 2rem;
      @include xs {
        min-width: 20rem;
      }
      &::placeholder {
        color: var(--text);
      }
    }
  }
}
